asgiref==3.8.1
bootstrap4==0.1.0
build==1.2.2.post1
CacheControl==0.14.0
certifi==2024.8.30
charset-normalizer==3.4.0
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
css==0.1
distlib==0.3.9
Django==5.1
dulwich==0.21.7
fastjsonschema==2.20.0
filelock==3.16.1
fonttools==4.53.1
gunicorn==23.0.0
h11==0.14.0
idna==3.10
installer==0.7.0
insultgenerator==1.0.3
jaraco.classes==3.4.0
keyring==24.3.1
kiwisolver==1.4.7
loremipsum==1.0.5
lxml==5.3.0
more-itertools==10.5.0
msgpack==1.1.0
numpy==2.1.1
packaging==24.1
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.11.2
platformdirs==4.3.6
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pyparsing==3.1.4
pyproject_hooks==1.2.0
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
RapidFuzz==3.10.0
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
six==1.16.0
sqlparse==0.5.1
tomlkit==0.13.2
trove-classifiers==2024.10.16
tzdata==2024.1
urllib3==2.2.3
uvicorn==0.32.0
virtualenv==20.27.0
White-Noise==0.1.0
whitenoise==6.7.0
