{% extends 'base.html' %}

{% block title %}Cooks List{% endblock %}

{% block content %}
    <h2>Cooks List</h2>

    <!-- Кнопка создания нового кухаря -->
    <div class="create-button-container">
        <a href="{% url 'cooks_create' %}" class="btn btn-success">Add New Cook</a>
    </div>


    <!-- Поисковая форма -->
    <div class="search-container">
        <form method="GET">
            {{ search_form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>

    <!-- Список найденных кухарей -->
    <div class="grid-container">
        {% for chef in chefs %}
            <div class="grid-item {% if chef.username == user.username %}highlight-row{% endif %}">
                <h3>{{ chef.username }}{% if chef.username == user.username %} (Me){% endif %}</h3>
                <p>First name: {{ chef.first_name }}</p>
                <p>Last name: {{ chef.last_name }}</p>
                <p>Years of experience: {{ chef.years_of_experience|default:"None" }}</p>
            </div>
        {% empty %}
            <p>No cooks found.</p>
        {% endfor %}
    </div>
{% endblock %}
