{% extends 'base.html' %}

{% block title %}Create Cook{% endblock %}

{% block content %}
    <h2>Create Cook</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            <label for="id_username">Username*</label>
            {{ form.username.errors }}
            {{ form.username }}
        </div>

        <div>
            <label for="id_years_of_experience">Years of experience*</label>
            {{ form.years_of_experience.errors }}
            {{ form.years_of_experience }}
        </div>

        <div>
            <label for="id_first_name">First name</label>
            {{ form.first_name.errors }}
            {{ form.first_name }}
        </div>

        <div>
            <label for="id_last_name">Last name</label>
            {{ form.last_name.errors }}
            {{ form.last_name }}
        </div>

        <div>
            <label for="id_contract_size">Contract size*</label>
            {{ form.contract_size.errors }}
            {{ form.contract_size }}
        </div>

        <div>
            <label for="id_password">Password*</label>
            {{ form.password.errors }}
            {{ form.password }}
            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
        </div>

        <div>
            <label for="id_password_confirmation">Password confirmation*</label>
            {{ form.password_confirmation.errors }}
            {{ form.password_confirmation }}
        </div>

        <button type="submit">Submit</button>
    </form>
{% endblock %}
