{% block content %}
<div class="content-wrapper">
    <header>
        <div class="logo">
            <h1>Register New Chef</h1>
        </div>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'cooks' %}">All cooks</a>
        </nav>
        <div class="auth-buttons">
            <span>User: {{ user.username }}</span>
        </div>
    </header>

    <main>
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="auth-buttons">Register</button>
            </form>
        </div>
    </main>
</div>
{% endblock %}