{% extends 'base.html' %}

{% block title %}Cooks{% endblock %}

{% block content %}
    <h2>Cooks List</h2>

    <!-- Поисковая форма -->
    <div class="search-container">
        <form method="GET">
            {{ search_form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>

    <!-- Список поваров -->
    <div class="grid-container">
        {% for chef in chefs %}
            <div class="grid-item">
                <h3>{{ chef.username }}</h3>
                <p>{{ chef.first_name }} {{ chef.last_name }}</p>
                <p>Years of Experience: {{ chef.years_of_experience }}</p>
                <p>Contract Size: {{ chef.contract_size }} hours</p>
            </div>
        {% empty %}
            <p>No cooks found.</p>
        {% endfor %}
    </div>

    <h2>Add New Cook</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Cook</button>
    </form>
{% endblock %}
