<!-- templates/search.html -->
{% extends 'base.html' %}

{% block title %}Search Dishes{% endblock %}

{% block content %}
    <h2>Search Dishes</h2>

    <!-- Поисковая форма -->
    <div class="search-container">
        <form method="GET">
            {{ search_form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>

    <!-- Список найденных блюд -->
    <div class="grid-container">
        {% for recipe in recipes %}
            <div class="grid-item">
                <h3>{{ recipe.name }}</h3>
                <p>{{ recipe.description }}</p>
                <p>Price: {{ recipe.price }} USD</p>
                <p>Kitchen Type: {{ recipe.kitchen_type.name }}</p>
            </div>
        {% empty %}
            <p>No dishes found.</p>
        {% endfor %}
    </div>
{% endblock %}
