{% extends 'base.html' %}

{% block title %}Dishes{% endblock %}

{% block content %}
    <h2>Dishes List</h2>

    <!-- Поисковая форма -->
    <div class="search-container">
        <form method="GET">
            {{ search_form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>

    <!-- Список блюд -->
    <div class="grid-container">
        {% for recipe in recipes %}
            <div class="grid-item">
                <h3>{{ recipe.name }}</h3>
                <p>{{ recipe.description }}</p>
                <p>Price: {{ recipe.price }} USD</p>
                <p>Kitchen Type: {{ recipe.kitchen_type.name }}</p>
            </div>
        {% empty %}
            <p>No dishes found.</p>
        {% endfor %}
    </div>

    <h2>Add New Dish</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Dish</button>
    </form>
{% endblock %}
