{% extends 'base.html' %}

{% block title %}Search Dish Types{% endblock %}

{% block content %}
    <h2>Search Dish Types</h2>

    <!-- Пошукова форма -->
    <div class="search-container">
        <form method="GET">
            {{ search_form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>

    <!-- Список типів страв -->
    <div class="grid-container">
        {% for dishtype in dishtypes %}
            <div class="grid-item">
                <h3>{{ dishtype.name }}</h3>
                <p>{{ dishtype.description }}</p> <!-- Якщо є поле для опису -->
            </div>
        {% empty %}
            <p>No dish types found.</p>
        {% endfor %}
    </div>

    <!-- Посилання на сторінку створення нового типу страв -->
    <div class="create-button">
        <a href="{% url 'dishtype_create' %}" class="btn">Create New Dish Type</a>
    </div>
{% endblock %}
