{% extends 'base.html' %}

{% block title %}Dish Types List{% endblock %}

{% block content %}
    <h2>Dish Types</h2>

    <!-- Пошукова форма -->
    <div class="search-container">
        <form method="GET">
            {{ search_form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>

    <!-- Список типів страв -->
    <div class="grid-container">
        {% for dishtype in dishtypes %}
            <div class="grid-item">
                <h3>{{ dishtype.name }}</h3>

                <!-- Кнопка для удаления -->
                <form action="{% url 'dishtype_delete' dishtype.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this dish type?');">Delete</button>
                </form>
            </div>
        {% empty %}
            <p>No dish types found.</p>
        {% endfor %}
    </div>

    <!-- Посилання на сторінку створення нового типу страв -->
    <div class="create-button">
        <a href="{% url 'dishtype_create' %}" class="btn">Create New Dish Type</a>
    </div>
{% endblock %}
