<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="logo">
            <a href="{% url 'home' %}" class="create-button"> <!-- Replace 'home.html' with the actual path to your home page -->
                <h1>Kitchen <span>Service</span></h1>
            </a>
        </div>
        <div class="user-info">
        {% if user.is_authenticated %}
            <p>User: {{ user.username }}</p>
        {% endif %}
    </div>

        
        <nav>
            <a href="#">Ingredient list</a>
            <a href="#">Dish list</a>
            <a href="#">Cook list</a>
            <a href="#">Dish types list</a>
        </nav>
        
        <!-- Authentication Buttons -->
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% endif %}
        </div>
    </header>

    <!-- Dashboard Section -->
    <div class="dashboard">
        <div class="card-container">
            <a href="cooks" class="card cooks">
                <h3>{{ cooks_count }}</h3>
                <p>Cooks</p>
                <span>Click here to see information about cooks</span>
            </a>

            <a href="dishes" class="card dishes">
                <h3>0</h3>
                <p>Dishes</p>
                <span>Click here to see information about dishes</span>
            </a>

            <a href="dish-type-list" class="card dish-types">
                <h3>0</h3>
                <p>Dish Types</p>
                <span>Click here to see information about dish types</span>
            </a>

            <a href="ingredients" class="card ingredients">
                <h3>{{ ingredients }}</h3>
                <p>Ingredients</p>
                <span>Click here to see information about ingredients</span>
            </a>
        </div>
    </div>
</body>

</html>
